
<div class="section landing-section">
    <div class="container">
        <div class="page-title">
            <h3>Step 3 of 4<br/>
                <small>One last step before accessing your account</small>
            </h3>
        </div>
  
        <div class="business">      
            <div class="form-title">
                <h4>Business Address</h4>
            </div>             
            <form [formGroup]="locationForm" (ngSubmit)="submit(locationForm.value)">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">

                            <div class="form-group">
                                <p class="text-danger" *ngIf="error">{{ error }}</p>
                            </div> 

                              <div class="form-group">
                                  <input type="text" class="form-control" formControlName="address" placeholder="Address">
                                  <p class="form-control-feedback" *ngIf="!locationForm.get('address').valid && locationForm.get('address').touched">We need your address</p>
                              </div>                          
                            </div>                    
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-sm-6">
                              <div class="form-group">
                                  <input type="number" class="form-control" formControlName="pincode" placeholder="Pincode">
                                  <p class="form-control-feedback" *ngIf="!locationForm.get('pincode').valid && locationForm.get('pincode').touched">Please enter your pincode</p>
                              </div>                          
                            </div>                          
                            <div class="col-md-4 col-sm-6">
                              <div class="form-group">
                                  <input type="text" class="form-control" formControlName="city" placeholder="City">
                                  <p class="form-control-feedback" *ngIf="!locationForm.get('city').valid && locationForm.get('city').touched">Which city are you from?</p>
                              </div>                          
                            </div>
                            <div class="col-md-4 col-sm-12">
                              <div class="form-group">
                                  <input type="text" class="form-control" formControlName="country" placeholder="Country">
                                  <p class="form-control-feedback" *ngIf="!locationForm.get('country').valid && locationForm.get('country').touched">You're from which country?</p>
                              </div>                          
                            </div>                      
                        </div>                    
                    </div>
                </div>
      
                <div class="row submit">
                    <div class="col-md-4">
                          <button type="submit" [disabled]="!locationForm.valid || isLoading" class="btn btn-danger">Create my account <i class="fa fa-arrow-right"  aria-hidden="true"></i></button>
                    </div>
                </div>  
                           
            </form>
        </div>
    </div>
  </div>
  <app-footer></app-footer>