.form-title {
    padding-bottom: 10px;
}

.submit {
    padding-top: 12px;
}

.form-control-feedback {
    padding-left: 0;
}

.form-group {
    padding-bottom: 15px;

    p {
        margin-top: -10px;
    }
}

button {
    margin-top: 10px;
}

.text-danger {
    padding-top: 4px;
}