
<div class="wrapper">
  <div class="page-header section-dark" style="background-image: url('assets/images/bg-login.jpg')">
    <div class="login-box">
      <div class="branding">
        <img src="assets/images/logo/dark/text.png" alt="Profitto Logo">
      </div>
      <div class="form">
        <form>
          <div class="form-group">
            <label>Email ID</label>
            <input type="email" class="form-control">
          </div>

          <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control">
          </div>

          <div class="row">
            <div class="col-xs-6">
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" value="">
                  Keep me signed
                  <span class="form-check-sign"></span>
                </label>
              </div>             
            </div>
          </div>

          <div class="form-group">
              <button type="button" class="btn btn-danger">Login</button>
          </div>

          <div class="form-group">
              <p align="center">
                  No account? <a routerLink="/onboarding" class="text-right">Register now</a>
              </p>
          </div>

        </form>
      </div>
      <div class="footer">
        <div class="credits ml-auto">
            <span class="copyright">
                Made with <i class="fa fa-heart heart"></i> by <a href="/">Profitto</a>
            </span>
        </div>
      </div>
    </div>
  </div>
</div>
