.login-box {
    min-height: 100vh;
    background: white;
    width: 30%;
    margin-left: 70%;

    .branding {
        padding: 15px;
        min-height: 24vh;
        margin: 0 auto;

        img {
            display: block;
            margin: 0 auto;            
            padding-top: 10px;
            width: 150px;
        }
    }

    .form {
        min-height: 60vh;
        padding: 0 20px;

        h4 {
            padding-bottom: 25px;
            font-weight: 500;
        }

        .form-group {
            width: 100%;

            button {
                margin-top: 20px;
                width: 100%;
            }
        }

        .row {
            .col-xs-6 {
                padding: 0 15px 0 15px;

                .forgot-password {
                    text-align: right !important;
                    margin: 0;

                    .a {
                        float: right;
                    }
                }
            }
        }
    }

    .footer {
        min-height: 10vh;
        text-align: center;

        ul {
            padding: 0;
            font-size: 20px;

            li {
                padding: 0 15px 0 15px;
                display: inline-block
            }
        }
    }
}

@media only screen and (max-width: 756px) {
    .login-box {
        min-height: 100vh;
        background: white;
        width: 100%;
        margin-left: 0;
    }
}