<div class="section landing-section">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title" style="color: #388E3C; font-size: 100px;">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </h2>
                    <h2 class="title">Welcome onboard!</h2>
                    <p class="description">Your account has been successfully created and the login credentials has been sent via email from nobody@profitto.io</p>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>