.landing-section {
    padding-top: 10px;
    padding-bottom: 10px;
}

.form-title {
    padding-bottom: 10px;
}

.toc {
    padding-top: 12px;
}

.submit {
    padding-top: 12px;
}

.infobox {
    margin-top: 100px;
}

img {
    margin-top: 30px;
}

.form-control-feedback {
    padding-left: 0;
}

.form-group {
    padding-bottom: 15px;

    p {
        margin-top: -10px;
    }
}

.modal-title  {
    padding-left: 30px;
    font-weight: 500;
}