<div class="section landing-section">
        <div class="container">
           <div class="page-title">
              <div class="row">
                 <div class="col-md-8">
                    <h2>Get started with Profitto<br/> <small>It won't take more than 10 mins</small> </h2>
                 </div>
              </div>
           </div>
           <form [formGroup]="onboardingForm" (ngSubmit)="submit(onboardingForm.value, content)" novalidate> 
           <div class="row">
              <div class="col-md-6">
                 <div class="business">
                    <div class="form-title">
                       <h4>Business</h4>
                    </div>
                    <div class="row">
                       <div class="col-md-12">
                          <div class="row">
                             <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                   <input type="text" class="form-control" placeholder="Business name" formControlName="name"> 
                                   <p class="form-control-feedback" *ngIf="!onboardingForm.controls['name'].valid && onboardingForm.controls['name'].touched">Business Name is required</p>
                                </div>
                             </div>
                             <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                   <input type="text" class="form-control" placeholder="Legal entity name" formControlName="legalName"> 
                                   <p class="form-control-feedback" *ngIf="!onboardingForm.controls['legalName'].valid && onboardingForm.controls['legalName'].touched">Business legal name is required</p>
                                </div>
                             </div>
                          </div>
                       </div>
                    </div>
                    <div class="form-title">
                       <h4>Your details</h4>
                    </div>
                    <div class="row" formGroupName="contact">
                       <div class="col-md-12">
                          <div class="row">
                             <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                   <input type="text" class="form-control" placeholder="Your full name" formControlName="name"> 
                                   <p class="form-control-feedback" *ngIf="!onboardingForm.get(['contact', 'name']).valid && onboardingForm.get(['contact', 'name']).touched">We need your name</p>
                                </div>
                             </div>
                             <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                   <input type="tel" class="form-control" placeholder="Phone" formControlName="phone"> 
                                   <p class="form-control-feedback" *ngIf="!onboardingForm.get(['contact', 'phone']).valid && (onboardingForm.get(['contact', 'phone']).touched || onboardingForm.get(['contact', 'phone']).hasError(''))">Phone number is required</p>
                                </div>
                             </div>
                             <div class="col-md-12 col-sm-12">
                                <div class="form-group">
                                   <input type="text" class="form-control" placeholder="Email address" formControlName="email"> 
                                   <p class="form-control-feedback" *ngIf="!onboardingForm.get(['contact', 'email']).valid && onboardingForm.get(['contact', 'email']).touched">Email ID is required</p>
                                </div>
                             </div>
                          </div>
                       </div>
                    </div>
                    <div class="row toc">
                       <div class="col-md-12">
                          <div class="form-check"> <label class="form-check-label"> <input class="form-check-input" type="checkbox" formControlName="toc"> <span class="form-check-sign"></span> You agree to our <a href="">Terms & conditions</a> and <a href="">Privacy Policy</a> </label> </div>
                       </div>
                    </div>
                    <div class="row submit">
                       <div class="col-md-4"> <button type="submit" class="btn btn-danger" [disabled]="!onboardingForm.valid || isLoading">Get Started <i class="fa fa-arrow-right" aria-hidden="true"></i></button> </div>
                    </div>
                 </div>
              </div>
           </div>
           <ng-template #content>
              <div class="modal-header">
                 <h5 class="modal-title text-left">Whoops, something went wrong</h5>
                 <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"> <span aria-hidden="true">&times;</span> </button> 
              </div>
              <div class="modal-body"> It look's like you already have an account with Profitto or you may have quit the onboarding process without completing. <br/><br/>We've sent an email with a link to resume the onboarding process, please check your email :) </div>
           </ng-template>
           </form> 
        </div>
     </div>
     <app-footer></app-footer>