<div class="section section-buttons">
        <div class="container">
           <div class="page-title text-center">
              <h3>Step 4 of 4<br/> <small>You need at least one outlet before using Profitto</small> </h3>
           </div>
           <div class="row">
              <div class="col-md-3"> </div>
              <div class="col-md-6">
                 <div class="business">
                    <form [formGroup]="outletForm" (ngSubmit)="submit(outletForm.value)"> 
                    <div class="row">

                       <div class="col-md-12">
                          <div class="row">

                             <div class="col-md-6 col-sm-6">
                                <div class="form-group"> 
                                    <input type="text" class="form-control" placeholder="Outlet Name" formControlName="name"> 
                                    <p class="form-control-feedback" *ngIf="!outletForm.controls['name'].valid && outletForm.controls['name'].touched">Outlet Name is required</p>
                                </div>
                             </div>

                             <div class="col-md-6 col-sm-6">
                                <div class="form-group"> 
                                    <input type="text" class="form-control" placeholder="Outlet Code" formControlName="code"> 
                                    <p class="form-control-feedback text-muted" *ngIf="!outletForm.controls['code'].touched"><i class="fa fa-info-circle" aria-hidden="true"></i> Outlet code has to be 7 characters</p>
                                    <p class="form-control-feedback" *ngIf="!outletForm.controls['code'].valid && outletForm.controls['code'].touched">Outlet code has to be 7 characters</p>
                                </div>
                             </div>
                             <div class="col-md-12 col-sm-12">
                                <div class="form-group"> 
                                    <input type="text" class="form-control" placeholder="Legal Name" formControlName="legalName"> 
                                    <p class="form-control-feedback" *ngIf="!outletForm.controls['legalName'].valid && outletForm.controls['legalName'].touched">Legal Name is required</p>
                                </div>
                             </div>
                          </div>
                       </div>
                    </div>
                    <div class="form-title">
                       <h4>Address<br/>
                           <small>This address will be printed on the receipts</small>
                       </h4>
                    </div>
                    <div class="row" formGroupName="address">
                       <div class="col-md-12">
                          <div class="row">
                             <div class="col-md-12 col-sm-12">
                                <div class="form-group"> 
                                    <input type="text" class="form-control" placeholder="Address" formControlName="address"> 
                                    <p class="form-control-feedback" *ngIf="!outletForm.get(['address', 'address']).valid && outletForm.get(['address', 'address']).touched">Address is required</p>
                                </div>
                             </div>
                             <div class="col-md-4 col-sm-6">
                                <div class="form-group"> 
                                    <input type="text" class="form-control" placeholder="Pincode" formControlName="pincode"> 
                                    <p class="form-control-feedback" *ngIf="!outletForm.get(['address', 'pincode']).valid && outletForm.get(['address', 'pincode']).touched">Pincode is required</p>
                                </div>
                             </div>
                             <div class="col-md-4 col-sm-6">
                                <div class="form-group"> 
                                    <input type="text" class="form-control" placeholder="City" formControlName="city"> 
                                    <p class="form-control-feedback" *ngIf="!outletForm.get(['address', 'city']).valid && outletForm.get(['address', 'city']).touched">City is required</p>
                                </div>
                             </div>
                             <div class="col-md-4 col-sm-12">
                                <div class="form-group"> 
                                    <input type="text" class="form-control" placeholder="State" formControlName="state"> 
                                    <p class="form-control-feedback" *ngIf="!outletForm.get(['address', 'state']).valid && outletForm.get(['address', 'state']).touched">State is required</p>
                                </div>
                             </div>
                          </div>
                       </div>
                    </div>
                    <div class="form-title">
                       <h4>Manager<br/> <small>We will share Manager's number with customer as and when required</small> </h4>
                    </div>
                    <div class="row" formGroupName="manager">
                       <div class="col-md-12">
                          <div class="row">
                             <div class="col-md-6 col-sm-6">
                                <div class="form-group"> 
                                    <input type="text" class="form-control" placeholder="Manager name" formControlName="name"> 
                                    <p class="form-control-feedback" *ngIf="!outletForm.get(['manager', 'name']).valid && outletForm.get(['manager', 'name']).touched">Manager name is required</p>
                                </div>
                             </div>
                             <div class="col-md-6 col-sm-6">
                                <div class="form-group"> 
                                    <input type="tel" class="form-control" placeholder="Manager Phone" formControlName="phone">
                                    <p class="form-control-feedback" *ngIf="!outletForm.get(['manager', 'phone']).valid && outletForm.get(['manager', 'phone']).touched">Manager phone is required</p>
                                </div>
                             </div>
                             <div class="col-md-12 col-sm-12">
                                <div class="form-group"> 
                                    <input type="text" class="form-control" placeholder="Manager Email" formControlName="email"> 
                                    <p class="form-control-feedback" *ngIf="!outletForm.get(['manager', 'email']).valid && outletForm.get(['manager', 'email']).touched">Manager email is required</p>
                                </div>
                             </div>
                          </div>
                       </div>
                    </div>
                    <div class="form-title">
                       <h4>Reservation<br/> <small>This shall appear on the receipts generated for this outlet</small> </h4>
                    </div>
                    <div class="row" formGroupName="contact">
                       <div class="col-md-12">
                          <div class="row">
                             <div class="col-md-6 col-sm-6">
                                <div class="form-group"> 
                                    <input type="text" class="form-control" placeholder="Reservation number" formControlName="phone"> 
                                    <p class="form-control-feedback" *ngIf="!outletForm.get(['contact', 'phone']).valid && outletForm.get(['contact', 'phone']).touched">Outlet phone is required</p>
                                </div>
                             </div>
                             <div class="col-md-6 col-sm-6">
                                <div class="form-group"> 
                                    <input type="text" class="form-control" placeholder="Reservation Email" formControlName="email"> 
                                    <p class="form-control-feedback" *ngIf="!outletForm.get(['contact', 'email']).valid && outletForm.get(['contact', 'email']).touched">Outlet Email ID is required</p>
                                </div>
                             </div>
                          </div>
                       </div>
                    </div>
                    <div class="form-title">
                       <h4>GST Details <br/> <small>It's optional, if available, we will mention it on the receipt</small> </h4>
                    </div>
                    <div class="row">
                       <div class="col-md-12">
                          <div class="row">
                             <div class="col-md-6 col-sm-6">
                                <div class="form-group"> 
                                    <input type="text" class="form-control" placeholder="GST number" formControlName="gst"> 
                                    <p class="form-control-feedback" *ngIf="!outletForm.controls['gst'].valid">GSTIN has to be 15 characters</p>
                                </div>
                             </div>
                          </div>
                       </div>
                    </div>

                    <div class="form-title">
                       <p class="text-danger" *ngIf="error">{{ error }}</p>
                    </div>  
                                        
                    <div class="row submit">
                       <div class="col-md-4"> <button type="submit" class="btn btn-danger" [disabled]="!outletForm.valid || isLoading">Get Started <i class="fa fa-arrow-right" aria-hidden="true"></i></button> </div>
                    </div>

                    </form> 
                 </div>
              </div>
           </div>
        </div>
     </div>
     <app-footer></app-footer>