.business {
    padding-top: 15px;
}

.form-title {
    padding-bottom: 10px;
}

.toc {
    padding-top: 12px;
}

.submit {
    padding-top: 12px;
}

h4 {

 small {
     font-size: 12px;
 }
 
}

.form-control-feedback {
    padding-left: 0;
}

.form-group {
    padding-bottom: 15px;

    p {
        margin-top: -10px;
    }
}

.text-muted {
    margin-top: 10px;
} 