
<div class="section landing-section">
    <div class="container">
        <div class="page-title">
            <h3>Step 2 of 4<br/>
                <small>Please verify your number, we've sent the code</small>
            </h3>
        </div>
  
        <div class="business">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                          <div class="form-group">
                              <p class="text-danger" *ngIf="error">{{ error }}</p>
                              <input type="number" class="form-control" placeholder="Enter the code we sent" [(ngModel)]="code">
                          </div>  
                          <div class="form-group">
                            <p align="right" *ngIf="!resent">
                                Not received? <a href="javascript:void(0)" (click)="resend()">Click Here</a> to resend 
                                <span *ngIf="seconds > 0">in {{ seconds }} seconds.</span> 
                                <span *ngIf="seconds == 0">now</span>
                            </p>   
                            <p align="right" class="text-success" *ngIf="resent"><i class="fa fa-check" aria-hidden="true"></i> We've resent the code again</p> 
                          </div>                        
                        </div>                      
                    </div>
                </div>
            </div>
  
            <div class="row submit">
                <div class="col-md-4">
                      <button type="button" class="btn btn-danger" (click)="verify(code)" [disabled]="!code">Confirm <i class="fa fa-arrow-right"  aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
    </div>
  </div>
  <app-footer></app-footer>