<footer class="footer">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li><a href="/">Profitto</a></li>
                    <li><a href="/pricing">Pricing</a></li>
                    <li><a href="/policies/terms-and-conditions">Terms & Conditions</a></li>
                    <li><a href="/policies/privacy-policy">Privacy Policy</a></li>
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    Made with <i class="fa fa-heart heart"></i> by <a href="/">Profitto</a>
                </span>
            </div>
        </div>
    </div>
</footer>
